html {
    box-sizing: border-box;
}

*,
*::before,
*::after {box-sizing: border-box;}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#recipe-list {
    display: inline-flex;
    list-style: none;
}

.artichoke-link {
    margin: 20px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid hsl(34, 43%, 65%);
   
}

.artichoke-link a {
    padding: 21px;
    height: 21px;
}
.artichoke-link:hover {
    background-color: hsl(34, 43%, 65%);
    
}

.tofu-link {
    margin: 20px;
    margin-left: -8px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(235, 235, 11);
}

.tofu-link a {
    padding: 21px;
    height: 21px;
}

.tofu-link:hover {
    background-color: rgb(235, 235, 11);
}

.pesto-link {
    margin: 20px;
    margin-left: -8px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid hsl(133, 51%, 72%);
}

.pesto-link a {
    padding: 21px;
    height: 21px;
}

.pesto-link:hover {
    background-color: rgb(142, 207, 151);
}